.button-modal{
    margin-left: 40%;
    display: flex; 
    width: 15%;
    height: 40px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 1px solid #484747;
    background-color: #afd2db;
}

.modal{
    transition: all 0.3s linear 0.1s;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 60%;
    border-radius: 10px;
    border: 1px solid #484747;
    padding: 8px;
    background-color: #f0f0f0;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 7px 0px;}


.header{
    color: blue;
    font-size: 30px;
    margin-bottom: 16px;
}

.inputNewItem{
    margin-right: 28rem;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 10px;
    border-radius: 10px;
    border: 1px solid #484747;
    padding: 8px;
    margin-bottom: 16px;
}

.container button{
    font-weight: bold ;

    bottom: 16px;
    right: 24px;
    transition: all 0.1s linear 0.1s;    
}

.container button:hover{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 7px 0px;
    transform: scale(1.1);
}
